.jwt-wrapper {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.jwt-decoder {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-family: Arial, sans-serif;
}

.jwt-decoder h1,
.jwt-decoder h2 {
    color: #333;
}

.jwt-decoder .form-group {
    margin-bottom: 15px;
}

.jwt-decoder label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.jwt-decoder textarea,
.jwt-decoder input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.jwt-decoder button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.jwt-decoder button:hover {
    background-color: #218838;
}

.jwt-decoder pre {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    white-space: pre-wrap;       /* Since CSS3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.jwt-decoder #jwtSignatureStatus {
    font-weight: bold;
}
